.answer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.5rem;

        .outerCircle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.5rem;
            height: 1.5rem;
            border: 1px solid var(--white);
            border-radius: 1.5rem;
        }

        .innerCircle {
            width: 1rem;
            height: 1rem;
            background-color: var(--white);
            border-radius: 1rem;
        }
    }

    .correct {
        background-color: var(--emerald-400);
    }

    .error {
        background-color: var(--red-400);
    }
    .primary {
        border-radius: 0.5rem;
        background-color: var(--slate-100);
        padding: 0.5rem 1rem;
        flex-grow: 1;
    }

    .date {
        border-radius: 0.5rem;
        background-color: var(--slate-100);
        padding: 0.5rem 1rem;
    }

    &:hover {
        .primary {
            background-color: var(--slate-200);
        }

        .date {
            background-color: var(--slate-200);
        }
        .correct {
            background-color: var(--emerald-700);
        }

        .error {
            background-color: var(--red-700);
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.75rem;
}
