.header {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    align-items: center;

    .title {
        background-color: var(--slate-200);
        height: 2rem;
        width: 10rem;
        border-radius: 0.25rem;
    }
}

.lessons {
    display: flex;
    flex-direction: column;
    margin-left: 3.75rem;
    gap: 0.5rem;
}
