.body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tests {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.row {
    display: flex;
    gap: 0.5rem;
}

.test {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 50%;
    background-color: var(--slate-200);
    border-radius: 0.5rem;
    padding: 1rem;
    white-space: pre-wrap;
    cursor: pointer;

    &:hover {
        background-color: var(--slate-400);
    }
}
